html {
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	font-size: 24px;
	
}

div {
	display: block;
}

body {
	/*font-family: "Computer Modern Sans", sans-serif;*/
	font-weight: 200;
	font-size: 14px;
}


.tan-header {
    display: block;
    position: relative;
    height: 100px;
    background-color: #35424a;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 2;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.tan-header .content {
	margin-left: auto;
    margin-right: auto;
  height: 70px;
  width: 748px;
}

.tan-header .l-page a:hover {
	color: rgba(255,255,255,1);
	text-decoration: none;
}

.tan-header a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	line-height: 100px;
	text-decoration: none;
	padding: 22px 0;
}



.tan-header .logo {
  font-size: 45px;
  font-weight: 200;
  margin-top:30px;
  margin-bottom:5px;
}

.tan-header .nav a {
  font-size: 26px;
  margin-left: 20px;
}
@media(min-width: 1080px) {
  .tan-header {
    height: 70px;
  }
  .tan-header a {
    line-height: 70px;
    padding: 28px 0;
  }
  .tan-header .logo {
  	font-size: 25px;
    font-weight: 200;
  }
  .tan-header .nav a {
	  font-size: 16px;
	  margin-left: 20px;
  }
}

.tan-header .nav {
  float: right;
  font-weight: 300;
}

.home-page-list {
	margin-top: 24px;
    margin-bottom: 24px;
}

.home-article a {
	color: inherit;
	text-decoration: none;
}

.home-page-list .metadata {
	font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 18px;
}

.metadata .publishedDate {
    margin-right: 1em;
}

.metadata > * {
    display: inline-block;
}
.home-page-list {
	margin-left: 60px;
    margin-right: 60px;
}
.home-page-list .post-preview .thumbnail {
	border: 0;
    /*box-sizing: border-box;*/
    margin-bottom: 24px;
    position: relative;
    /*width: 648px;*/
}

.home-page-list .post-preview {
		
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   
	    
	}
.home-page-list .post-preview p {
	    margin: 0 0 12px 0;
	    line-height: 1.4em;
	    font-size: 14px;
}

.home-page-list .post-preview h2 {
    margin: 0 0 6px 0;
    line-height: 1.2em;
    /*width: 600px;
    margin-left: auto;
    margin-right: auto;*/
    /*text-align: center;*/
    font-style: bold;
    font-size: 16px;
    
}

@media (min-width: 1080px) {
		.home-article > h1, .home-article section > h1, .home-page-list, .l-page, .home-article .l-page, .home-article.centered .l-page,
		.tan-header .content {
		    width: 900px;
		    display: border;
		    margin-left: auto;
		    margin-right: auto;
		}
	}


@media (min-width: 1080px) {

	.home-page-list .post-preview {
		
	    overflow: hidden;
	    display: block;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    padding-bottom:50px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 900px;
	}

	.thumbnail .bnn-fig {
		height: 200px;
		width: 90%;
	}
	.home-page-list .post-preview a {

	    text-decoration: none;
	    overflow: hidden;
	    display: block;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	}

	@media (min-width: 768px) {
		.home-page-list {
		    margin-top: 60px;
		}
	}
	

	@media (min-width: 768px) {
		.home-page-list .thumbnail {
			border: 0;
		    float: right;
		    /*width: 35%;*/
		    height: 200px;
		width: 90%;
		    
		}
	}

	.home-page-list .thumbnail {
		border: 0;
	    /*box-sizing: border-box;*/
	    margin-bottom: 24px;
	    position: relative;
	    max-width: 320px;
	}

	@media (min-width: 768px) {
		.home-page-list .description {
		    float: left;
		    width: 40%;
		}
	}

	

	.home-page-list .description h2 {
	    margin: 0 0 6px 0;
	    line-height: 1.2em;
	    font-style: bold;
	    font-size: 26px;
	}

	@media (min-width: 768px) {
		.home-page-list .metadata {
		    float: left;
		    width: 15%;
		    
		}
	}

	.home-page-list .metadata {
	    font-size: 14px;
	    line-height: 1.4em;
	    
	    font-style: italic;
	}


	.metadata .publishedDate {
	    margin-right: 1em;
	}

	.metadata > * {
	    display: inline-block;
	}

	.home-page-list .description p {
		font-size: 16px;
	}
}


.section-article hr {
}


@media (max-width: 1080px) {
	.blog-article {
		font-size: 26px;
	}
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px red inset;
}

/* Base16 Atelier Heath Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Heath Comment */
.hljs-comment,
.hljs-quote {
  color: #776977;
}

/* Atelier-Heath Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #ca402b;
}

/* Atelier-Heath Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #a65926;
}

/* Atelier-Heath Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #918b3b;
}

/* Atelier-Heath Blue */
.hljs-title,
.hljs-section {
  color: #516aec;
}

/* Atelier-Heath Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #7b59c0;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #FFFBFB;
  color: #695d69;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}